-r common-requirements.txt

-e ../hong2p

-e ../chemutils

-e ../drosolf

# Was having a hard time getting an editable install of this to work at one
# point.
#git+https://github.com/ejhonglab/olfsysm
git+ssh://git@github.com/ejhonglab/olfsysm

# If using neuprint to parameterize Matt's model
#-e ../neuprint_helper
